.all-block{
    display: flex;
    border: 5px solid black;
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
}
.btn button{
    display: flex;
    border: 1px black solid;
    border-radius: 20px;
    padding: 10px 25px 10px 25px;
}
.btn{
    display: flex;
    align-items: center;
}